<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

My Jupyter Notebook on IBM Watson Studio

**Abrar Argya Adana**

In [ ]:
Wants to be data scientist

I am interested in data science because it's an interesting field and really relevant in this day and age

*Multiplication Calculator Code*

In [3]:
a = input("Enter a number")
b = input("Enter a number")
multiply = int(a)*int(b)
result = print(a, "multiply by", b, "is" ,multiply)

Enter a number 8
Enter a number 8

8 multiply by 8 is 64

**Amount of drink Table**

| x | Monday | Tuesday | Wednesday | Thursday |
|------| ------ | ------ | ------ | ------ |
|*Tea (ml)* | 250 | 200 | 350| 120
|*Water (ml)*| 1000 |  1500| 2000| 1000 |
|*Milk (ml)*| 200 | 300 | 450 | 140 |
|*Soda (ml)*| 0 | 250 | 350 | 0|

**To Do List**

1. Study
2. Work out
3. Shopping
4. Cooking
5. Learning instrument

**Shopping List**

- Milk
- Eggs
- Flour
- Garlic
- Shallot
- Soy Sauce